// * colors

$white: #ffffff;
$dark-teal: #3A4F52;
$dark-blue: #2B3E51;
$grey-blue: #405162;
$sky-blue:#4DA7CA;
$dark-grey: #6A6A6A;
$light-grey: #C3C9CC;
$beige: #CCCCCC;
$-lightbeige: #F1F0F0;
$-trans-bg: #00000033;


$global-margin: 0 15vw 6vh 15vw;

